<h1 class="title">Mark's Gaming Rental Service</h1>
    <h2 class="slogan">Who Said Rentals were dead?</h2>

<nav class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="menu">
        <a href="/games/new">Add to Wishlist</a>
        <a href="#">My Membership</a>
        <a href="/sessions/logout" method="POST" value="delete">Log out</a>
    </div>
</nav>
    
    
    <% if logged_in?%>
        <h3>Welcome to Mark's Gaming Service <%= current_user['first_name'] %></h3>
        <section class="games">
            <% games.each do |game|%>
                <section class="game">
                    <header>
                        <h3><%= game['name'] %></h3>
                    </header>
            <% end %>
                </section>
        </section>
    <% else %>
    <a href="/users/new">Sign Up</a>
    <a href="/sessions/new">Log in</a>
        <section class="games">
            <% games.each do |game|%>
                <section class="game">
                <header>
                    <h3><%= game['name'] %></h3>
                </header>
                <% end %>
                </section>
            </section>
    <% end %>

