<h1 class="new_game">Contibute to our database</h1>
<form action="/games" method="POST">
    <p>
    <label for="">Game Title: </label>
    <input type="text" name="name">
    </p>

    <p>
    <label for="">Year Released: </label>
    <input type="text" name="year_released">
    </p>

    <p>
    <label for="">Image URL: </label>
    <input type="text" name="image_url">
    </p>

    <p>
    <label for="">Genre: </label>
    <input type="text" name="genre">
    </p>

    <p>
    <label for="">Developer: </label>
    <input type="text" name="developer">
    </p>

    <p>
    <label for="">Platforms: </label>
    <input type="text" name="platforms">
    </p>

    <p>
    <label for="">Description: </label>
    <input type="text" name="description">
    </p>

    <button>Thank you!</button>
</form>


