<h1>Log in!</h1>

<form action="/sessions" method="POST">
    <p>
    <label for="">Email: </label>
    <input type="text" name="email">
    </p>
    <p>
    <label for="">Password: </label>
    <input type="password" name="password">
    </p>

    <p>
    <button>Log in</button>
    </p>

</form>